<div class="row">
    <div class="contenedor">
        <div class="logos">
            <img src="../../../assets/img/APLogo.png" id="logo-app">
        </div>
        <div class="redes">
            <div>
                <a href=""><img src="../../../assets/img/facebook.png" id="facebook"></a>
                <a href=""><img src="../../../assets/img/github.png" id="github"></a>
                <a href=""><img src="../../../assets/img/linkedin.png" id="linkedin"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
            </div>
        </div>
    </div>
</div>
