<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-success" routerLink="/nuevaedu" *ngIf="isLogged"><i class="bi bi-plus-circle-fill">
            AÑADIR EDUCACION</i>
        </button>
    </div>
    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody *ngIf="isLogged">
                <tr *ngFor="let Educacion of edu">
                    <td>
                        <h3>{{Educacion.titulo_educacion}}</h3>
                            {{Educacion.fecha_educacion}}
                    </td>
                    <td>{{Educacion.descripcion_educacion}}</td>

                    <td>{{Educacion.img_educacion}}</td>
                        <td *ngIf="isLogged">
                            <button class="btn btn-light" routerLink="/editedu/{{Educacion.id_educacion}}">
                                <i class="bi bi-pencil-fill"></i> EDITAR</button>
                        </td>
                         <td *ngIf="isLogged">
                            <button class="btn btn-danger" (click)="delete(Educacion.id_educacion)">
                                <i class="bi bi-trash-fill"></i> BORRAR</button>
                        </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>