<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <h1>Ciencia de datos e IA - Telecomunicaciones</h1>
        <h2>ISPC</h2>
        <h6>07/04/2021 - 15/08/2021</h6>
        <p>Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Labore, ullam nihil! Delectus 
            error obcaecati modi cumque itaque debitis odio 
            adipisci nisi hic velit dolor non, 
            at et. Necessitatibus, perspiciatis nostrum.
        </p>
    </div>

</div>