<div class="row">
    <h1>Soft & Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="75"
        [radius]="100"
        [title]="'Python'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#395EF4'"
        [innerStrokeColor]="'#fff'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>    
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'Java'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>    
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [title]="'Linux'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>    
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="65"
        [radius]="100"
        [title]="'AWS'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>    
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [title]="'SQL'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>    
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [title]="'SpringBoot'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>    
    </div>
</div>