<div class="row">
    <div class="col-x5-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/img/mifoto.jpeg" class="img-fluid" id="foto-perfil">    
    </div>
    <div class="col-x5-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}
        </p>
        <p id="nombre-t" style="font-style: italic;">Software Developer</p>
    </div>
    <div class="col-x5-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de</h1>
            <p>¡Hola!
                Hola, mi nombre es Alejandro.Actualmente vivo en Córdoba y estudio Ciencia de Datos, 
                tengo algo de experiencia como desarrollador Java/SpringBoot y conocimientos sobre los principales servicios de AWS.</p>
        </span>
    </div>
</div>