<div class="row">
    <div class="col-x5-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/img/mifoto.jpeg" class="img-fluid" id="foto-perfil">    
    </div>
    <div class="col-x5-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}
        </p>
        <p id="nombre-t" style="font-style: italic;">Software Developer</p>
    </div>
    <div class="col-x5-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de</h1>
            <p>¡Hola!
                Mi nombre es Alejandro, soy de Córdoba y me gusta mucho la tecnología, comencé a estudiar diferentes lenguajes de programación hace aproximadamente 3 años. Me encanta Java y Python, actualmente estoy cursando una tecnicatura en Ciencia de Datos e IA y dando mis primeros pasos en AWS, por otro lado busco perfeccionar mis habilidades tanto en SpringBoot como en Linux y Python, este ultimo con orientación al análisis de datos, me divierte mucho programar!! 
                Me considero una persona curiosa, con ganas de aprender diariamente y mantenerme informado..</p>
        </span>
    </div>
</div>